@import 'variables';

h1 {
    color: $blue; 
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

form {
    margin-top: 100px;;
    margin-left: 40px;
    width: 450px
}

body {
    background-color: rgb(129, 128, 128);
}

nav {
    background-color: bisque;
}