h1 {
  color: blue;
  font-size: 100px; }

h2 {
  font-size: 50px; }

form {
  margin-top: 100px;
  margin-left: 40px;
  width: 450px; }

body {
  background-color: #818080; }

nav {
  background-color: bisque; }
