<form method="post">
  <div class="mb-3">
    <label for="search-box" class="form-label">Keyword</label>
    <input name="posts" type="text" class="form-control" id="search-box">
  </div>

  <button type="button" class="btn btn-primary">Submit</button>
</form>